django>=1.5.1
coverage
coveralls
mock>=1.0.1
flake8>=2.1.0
tox>=1.7.0

# Additional test requirements go here
django-autocomplete-light<3
django-filter==1.0.1
django-filters==0.2.1
django-guardian==1.4.6

